<form method="post" style="display: inline-block;margin: 0;" action="{{ path('admin.users.delete', {'id': user.id}) }}" onsubmit="return confirm('Действительно хотите удалить?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn" type="submit">
        <i class="fa fa-trash text-danger"></i>
    </button>
</form>
