<form method="post" style="display: inline-block;" action="{{ path('admin.events.delete', {'id': event.id}) }}" onsubmit="return confirm('Действительно хотите удалить?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
    <button class="btn" type="submit">
        <i class="fa fa-trash text-danger"></i>
    </button>
</form>
