{% extends 'base.html.twig' %}

{% block title %}New JournalEvents{% endblock %}

{% block body %}

    <h1 class="mt-3">Создание</h1>

    {{ include('admin/events/_form.html.twig') }}

{% endblock %}
