{% extends 'base.html.twig' %}

{% block title %}Страничка не найдена{% endblock %}

{% block body %}

    <h1 class="mt-5 mb-3">404 Страничка не найдена</h1>

    <p>
        Запрашиваемая страница не может быть найдена. Оформить заказ по любому URL
        опечатка или <a href="{{ path('home') }}">вернуться на главную страницу</a>
    </p>

{% endblock %}
